node-red/.flows.json.backup
[{"id":"11042afe.d8ad05","type":"tab","label":"Presence Detection FSM","disabled":false,"info":""},{"id":"5193755.cc43a8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"260c69c8.e1543e","type":"subflow","name":"HA Presence Detection","info":"","category":"","in":[],"out":[{"x":1200,"y":260,"wires":[{"id":"683258c.997c4a8","port":0},{"id":"297a5c45.5e86e4","port":2},{"id":"95412cd1.1c7b1","port":2},{"id":"95412cd1.1c7b1","port":3},{"id":"a4d129fa.f87738","port":0},{"id":"2794982e.ab7ad8","port":0},{"id":"95412cd1.1c7b1","port":4}]}],"env":[],"color":"#DDAA99","outputLabels":["Home","Not Home","Away","Motion"]},{"id":"7c769997.54ccd","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[{"x":600,"y":80,"wires":[{"id":"dfdd5714.2bdf58","port":0}]},{"x":620,"y":140,"wires":[{"id":"c80af702.1caff8","port":0}]},{"x":600,"y":180,"wires":[{"id":"c0982016.2c80e","port":0}]}]},{"id":"e241653a.01a698","type":"subflow","name":"Weather2Color","info":"","category":"","in":[],"out":[{"x":1140,"y":40,"wires":[{"id":"a8753d6e.ebac8","port":0}]},{"x":1140,"y":220,"wires":[{"id":"5da52f8e.f2291","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"268ac854.f05d88","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"2534eef8.504fd2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"98a7d086.f573b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2cf78ef7.f9c8e2","type":"ui_group","z":"","name":"Climate","tab":"98a7d086.f573b","order":3,"disp":true,"width":"6","collapse":false},{"id":"547bbb82.2b6654","type":"ui_group","z":"","name":"Auto","tab":"98a7d086.f573b","order":2,"disp":true,"width":"6","collapse":false},{"id":"74b3df02.6f5bf","type":"ui_group","z":"","name":"Manual","tab":"98a7d086.f573b","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e374621.fc24f8","type":"ifttt-key","z":""},{"id":"b7e5b311.e81eb","type":"finite-state-machine","z":"11042afe.d8ad05","name":"Family Home?","fsmDefinition":"{\"state\":{\"status\":\"HOME\"},\"transitions\":{\"HOME\":{\"left\":\"NOT_HOME\",\"bedtime\":\"SLEEPING\"},\"NOT_HOME\":{\"back\":\"HOME\",\"away\":\"AWAY\"},\"AWAY\":{\"back\":\"HOME\"},\"SLEEPING\":{\"wake_up\":\"HOME\"}}}","sendInitialState":true,"showTransitionErrors":true,"x":1220,"y":820,"wires":[["1015db1d.a365cd","b7e32af9.8d1b38","7891fd33.0bf4b4"],[],[]]},{"id":"97b58658.4acfb8","type":"server-state-changed","z":"260c69c8.e1543e","name":"","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":200,"y":80,"wires":[["683258c.997c4a8"],["895a8006.f47c1","848a01dd.0600f"]]},{"id":"895a8006.f47c1","type":"trigger","z":"260c69c8.e1543e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":false,"units":"min","reset":"false","bytopic":"topic","name":"15 Min","x":470,"y":140,"wires":[["e395f1fb.125c"]]},{"id":"e395f1fb.125c","type":"api-current-state","z":"260c69c8.e1543e","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":160,"wires":[["2794982e.ab7ad8"],[]]},{"id":"848a01dd.0600f","type":"trigger","z":"260c69c8.e1543e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"false","bytopic":"topic","name":"1 day","x":470,"y":240,"wires":[["69f01c1e.75cf04"]]},{"id":"69f01c1e.75cf04","type":"api-current-state","z":"260c69c8.e1543e","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":240,"wires":[["a4d129fa.f87738"],[]]},{"id":"2794982e.ab7ad8","type":"change","z":"260c69c8.e1543e","name":"Family Left","rules":[{"t":"set","p":"topic","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":180,"wires":[[]]},{"id":"a4d129fa.f87738","type":"change","z":"260c69c8.e1543e","name":"Family Away","rules":[{"t":"set","p":"topic","pt":"msg","to":"away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[[]]},{"id":"683258c.997c4a8","type":"change","z":"260c69c8.e1543e","name":"Family Came ","rules":[{"t":"set","p":"topic","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":100,"wires":[[]]},{"id":"f0c8614f.e75","type":"switch","z":"11042afe.d8ad05","name":"Climate","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"HOME","vt":"str"},{"t":"eq","v":"NOT_HOME","vt":"str"},{"t":"eq","v":"AWAY","vt":"str"},{"t":"eq","v":"SLEEPING","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1640,"y":500,"wires":[["407e26ad.df33b8"],["5bdf5085.792ce"],["c4cbfe8f.db4df"],["5bdf5085.792ce"]]},{"id":"a0ba77a5.ae0e18","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2510,"y":380,"wires":[["e5e21833.c12118"]]},{"id":"1d87d4d5.54241b","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.termostato_cucina","data":"{\"entity_id\":\"climate.termostato_cucina\",\"temperature\":{{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2800,"y":740,"wires":[[]]},{"id":"297a5c45.5e86e4","type":"trigger-state","z":"260c69c8.e1543e","d":true,"name":"Motion Detected","server":"268ac854.f05d88","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_158d00015b833f","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zbqsd2waifj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"hme9zzlay78","messageType":"custom","messageValue":"{\"payload\":\"on\",\"topic\":\"wake_up\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"}],"outputinitially":false,"state_type":"str","x":780,"y":380,"wires":[[],[],[]]},{"id":"7f377e4a.9e96b","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":210,"y":80,"wires":[["dfdd5714.2bdf58"]]},{"id":"407e26ad.df33b8","type":"change","z":"11042afe.d8ad05","name":"T Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":480,"wires":[["a0ab9451.228518"]]},{"id":"f722ed66.b044e","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Not Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":190,"y":140,"wires":[["c80af702.1caff8"]]},{"id":"c80af702.1caff8","type":"change","z":"7c769997.54ccd","name":"Not Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[[]]},{"id":"e5405738.a52708","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Away Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":190,"y":200,"wires":[["c0982016.2c80e"]]},{"id":"c0982016.2c80e","type":"change","z":"7c769997.54ccd","name":"Away T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[[]]},{"id":"5bdf5085.792ce","type":"change","z":"11042afe.d8ad05","name":"T Not Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":520,"wires":[["c340e7c7.5d3c18"]]},{"id":"c4cbfe8f.db4df","type":"change","z":"11042afe.d8ad05","name":"T Away","rules":[{"t":"set","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":560,"wires":[["c340e7c7.5d3c18"]]},{"id":"b15721c8.f07f78","type":"subflow:260c69c8.e1543e","z":"11042afe.d8ad05","name":"HA Presence detection","env":[],"x":880,"y":820,"wires":[["b7e5b311.e81eb","1387c8b6.e65487"]]},{"id":"dfdd5714.2bdf58","type":"change","z":"7c769997.54ccd","name":"Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"1015db1d.a365cd","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload.status","pt":"msg","to":"status","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":820,"wires":[["f0c8614f.e75","b614e755.a85bd8","769c58ae.ea8768"]]},{"id":"1ee4f6c7.2f3839","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":970,"y":320,"wires":[["6b16df32.89bf7"]]},{"id":"2df30f2b.6d406","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Not Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":990,"y":380,"wires":[["ef2ecdb8.832cd"]]},{"id":"ef2ecdb8.832cd","type":"change","z":"11042afe.d8ad05","name":"Not Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":380,"wires":[["f0c8614f.e75"]]},{"id":"31423fe8.0df6","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Away Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":970,"y":440,"wires":[["c2aef239.c22fc"]]},{"id":"c2aef239.c22fc","type":"change","z":"11042afe.d8ad05","name":"Away T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":440,"wires":[["f0c8614f.e75"]]},{"id":"6b16df32.89bf7","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":320,"wires":[["f0c8614f.e75"]]},{"id":"7d918fdf.d1e38","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Climate Auto","tooltip":"","group":"547bbb82.2b6654","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2730,"y":640,"wires":[["98f28d6f.74071"]]},{"id":"a0ab9451.228518","type":"switch","z":"11042afe.d8ad05","name":"Enable CLimate","property":"enable_climate","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2260,"y":580,"wires":[["af5d280a.a49028"],[]]},{"id":"98f28d6f.74071","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_climate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2930,"y":640,"wires":[[]]},{"id":"a4256a9b.d83b78","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.42","x":250,"y":320,"wires":[["1ee4f6c7.2f3839"]]},{"id":"2b45bf01.6decb","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.43","x":250,"y":380,"wires":[["2df30f2b.6d406"]]},{"id":"9e873c6e.092e6","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.44","x":250,"y":440,"wires":[["31423fe8.0df6"]]},{"id":"a61e8e7c.b49b7","type":"switch","z":"11042afe.d8ad05","name":"Enable Lights","property":"enable_lights","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2100,"y":340,"wires":[["a0ba77a5.ae0e18","e2790057.e69888"],[]]},{"id":"6bf49fcc.bcd97","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Lights Auto","tooltip":"","group":"547bbb82.2b6654","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2810,"y":340,"wires":[["f7021cec.2c83"]]},{"id":"f7021cec.2c83","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_lights","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3010,"y":340,"wires":[[]]},{"id":"95412cd1.1c7b1","type":"trigger-state","z":"260c69c8.e1543e","name":"Bed Button","server":"268ac854.f05d88","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.switch_158d000183e7d1","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"id":"4wptz6fgdc6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":{"0":0,"1":1,"2":2,"3":3,"4":-1},"customoutputs":[{"outputId":"wj7jyrvtg3q","messageType":"custom","messageValue":"{\"topic\" : \"bedtime\" }","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"single"},{"outputId":"phsmp0zdsem","messageType":"custom","messageValue":"{\"topic\": \"wake_up\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"double"},{"outputId":"9bu0mvnwp8s","messageType":"custom","messageValue":"{\"payload\":\"triggered\",\"topic\":\"bedtime\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"single"}],"outputinitially":false,"state_type":"str","x":650,"y":540,"wires":[]},{"id":"1387c8b6.e65487","type":"debug","z":"11042afe.d8ad05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":920,"wires":[]},{"id":"6487e384.71426c","type":"switch","z":"11042afe.d8ad05","name":"Enable Lights","property":"enable_lights","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2220,"y":240,"wires":[["25ef6ee0.7bd6d2","88de52cb.de1a6"],[]]},{"id":"25ef6ee0.7bd6d2","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"all","data":"{\"color_name\": \"{{flow.lights_color}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2490,"y":240,"wires":[["901ec03c.db8d4"]]},{"id":"2c99ef93.747bc","type":"change","z":"11042afe.d8ad05","name":"Dark","rules":[{"t":"set","p":"dark","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":220,"wires":[["b614e755.a85bd8"]]},{"id":"25ddc239.c7598e","type":"switch","z":"11042afe.d8ad05","name":"","property":"dark","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2030,"y":240,"wires":[["6487e384.71426c"],["a61e8e7c.b49b7"]]},{"id":"7afb764c.08ec08","type":"server-events","z":"260c69c8.e1543e","name":"Collect All HomeAssistant Data","server":"268ac854.f05d88","event_type":"xiaomi_aqara.click","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":210,"y":480,"wires":[["2db616f2.423fda"]]},{"id":"2db616f2.423fda","type":"switch","z":"260c69c8.e1543e","name":"Bed Button?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"binary_sensor.switch_158d000183e7d1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":480,"wires":[["c9f1053d.aeab48"]]},{"id":"c9f1053d.aeab48","type":"switch","z":"260c69c8.e1543e","name":"","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":480,"wires":[[],[],[]]},{"id":"b7e32af9.8d1b38","type":"ui_text","z":"11042afe.d8ad05","group":"547bbb82.2b6654","order":2,"width":"6","height":"1","name":"","label":"Family's status","format":"{{msg.payload.status}}","layout":"col-center","x":1440,"y":1000,"wires":[]},{"id":"4174a14.aa4c96","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"","tooltip":"","group":"547bbb82.2b6654","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-sun-o","offcolor":"yellow","x":730,"y":1120,"wires":[[]]},{"id":"b097ae34.d29aa","type":"webhookrelay","z":"11042afe.d8ad05","buckets":"ghactions","x":240,"y":540,"wires":[["d2cc41b6.d14ed"]]},{"id":"d2cc41b6.d14ed","type":"json","z":"11042afe.d8ad05","name":"","property":"payload.body","action":"","pretty":false,"x":230,"y":680,"wires":[["4c28c62c.672568"]]},{"id":"4c28c62c.672568","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload.body","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["a90b2fe3.4399c","45ef9cb5.8d38d4"]]},{"id":"a90b2fe3.4399c","type":"switch","z":"11042afe.d8ad05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"temperatura","vt":"str"},{"t":"hask","v":"buonanotte","vt":"str"},{"t":"hask","v":"Buonanotte","vt":"str"},{"t":"hask","v":"buongiorno","vt":"str"},{"t":"hask","v":"Buongiorno","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":670,"y":680,"wires":[["588d81b9.67f7f","c5fdb4b2.86dcd8"],["2f078d39.f3efd2"],["2f078d39.f3efd2"],["f9b38bfa.33deb8"],["f9b38bfa.33deb8"]]},{"id":"2f078d39.f3efd2","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bedtime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":680,"wires":[["b7e5b311.e81eb"]]},{"id":"f9b38bfa.33deb8","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"wake_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":720,"wires":[["b7e5b311.e81eb"]]},{"id":"c5fdb4b2.86dcd8","type":"debug","z":"11042afe.d8ad05","name":"RED","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":660,"wires":[]},{"id":"588d81b9.67f7f","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload.temperatura","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":620,"wires":[["1ee4f6c7.2f3839"]]},{"id":"45ef9cb5.8d38d4","type":"debug","z":"11042afe.d8ad05","name":"Before","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":560,"wires":[]},{"id":"88de52cb.de1a6","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_yeelight_on","key":"5e374621.fc24f8","x":2480,"y":300,"wires":[]},{"id":"e2790057.e69888","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_yeelight_off","key":"5e374621.fc24f8","x":2520,"y":440,"wires":[]},{"id":"d00d2078.a59fb","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Appliances Auto","tooltip":"","group":"547bbb82.2b6654","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2640,"y":1180,"wires":[["7a58b336.204b1c"]]},{"id":"7a58b336.204b1c","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_appliances","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":1180,"wires":[[]]},{"id":"f3d0444c.dc4a18","type":"switch","z":"11042afe.d8ad05","name":"Enable Appliances","property":"enable_appliances","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2070,"y":1020,"wires":[["9f39e621.82b678"],[]]},{"id":"9f39e621.82b678","type":"api-call-service","z":"11042afe.d8ad05","name":"Switchable Off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.appliances","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2640,"y":1120,"wires":[[]]},{"id":"7891fd33.0bf4b4","type":"ha-entity","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Family Status"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.status","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1430,"y":920,"wires":[[]]},{"id":"5fd42a57.8fcaa4","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":5,"width":0,"height":0,"passthru":false,"label":"Appliances Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2300,"y":1140,"wires":[["9f39e621.82b678","d00d2078.a59fb"]]},{"id":"32f23f99.1c9e4","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":2,"width":0,"height":0,"passthru":false,"label":"Lights Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2320,"y":480,"wires":[["a0ba77a5.ae0e18","6bf49fcc.bcd97","e2790057.e69888"]]},{"id":"e7f75082.5b565","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":1,"width":0,"height":0,"passthru":false,"label":"Lights On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2220,"y":280,"wires":[["25ef6ee0.7bd6d2","6bf49fcc.bcd97","88de52cb.de1a6"]]},{"id":"fba2450f.01e208","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_heater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2710,"y":520,"wires":[[]]},{"id":"6c692f7a.84729","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":3,"width":0,"height":0,"passthru":false,"label":"Heater On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2490,"y":520,"wires":[["fba2450f.01e208","7d918fdf.d1e38"]]},{"id":"3f4b6b2c.d70f24","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_heater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2710,"y":580,"wires":[[]]},{"id":"92f9375d.8a8e78","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":4,"width":0,"height":0,"passthru":false,"label":"Heater Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2490,"y":580,"wires":[["3f4b6b2c.d70f24","7d918fdf.d1e38"]]},{"id":"d1850984.335778","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"wake_up","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"","lat":"45.405","lon":"11.886","starttime":"825","endtime":"780","starttime2":0,"endtime2":0,"startoff":"-30","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":620,"y":840,"wires":[[],[],[]]},{"id":"898dd44e.88e6c8","type":"ui_text_input","z":"11042afe.d8ad05","name":"","label":"Weekdays Alarm","tooltip":"","group":"74b3df02.6f5bf","order":6,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":170,"y":840,"wires":[["16c5ce28.f17fa2"]]},{"id":"16c5ce28.f17fa2","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.on_override","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":840,"wires":[["d1850984.335778"]]},{"id":"c525efb.43c001","type":"server-state-changed","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1020,"y":240,"wires":[[],["28af9b27.8c3ca4"]]},{"id":"28af9b27.8c3ca4","type":"change","z":"11042afe.d8ad05","name":"Light","rules":[{"t":"set","p":"dark","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":260,"wires":[["b614e755.a85bd8"]]},{"id":"3bf7026d.ffe38e","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"timer_scaldabagno","outpayload1":"1","outpayload2":"0","name":"Water Timer","comment":"","lat":"45.405","lon":"11.886","starttime":"315","endtime":"450","starttime2":0,"endtime2":0,"startoff":"+5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":1110,"y":540,"wires":[["b21d9fef.09f1c"],[],[]]},{"id":"84e3f1f4.d9e15","type":"switch","z":"11042afe.d8ad05","name":"Enable Appliances","property":"enable_appliances","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2170,"y":860,"wires":[["ea1df044.4433a","b5820841.e36f58"],[]]},{"id":"ea1df044.4433a","type":"switch","z":"11042afe.d8ad05","name":"","property":"scaldabagno","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2410,"y":860,"wires":[["40783edc.b3422"],["4a534ae3.b963e4"]]},{"id":"fee3f1ab.2349e","type":"api-call-service","z":"11042afe.d8ad05","name":"Scaldabagno Off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.scaldabagno","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3170,"y":960,"wires":[[]]},{"id":"3119376f.80b5c8","type":"api-call-service","z":"11042afe.d8ad05","name":"Scaldabagno On","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.scaldabagno","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3150,"y":860,"wires":[[]]},{"id":"8bce692a.55faf8","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"timer_termoarredo","outpayload1":"1","outpayload2":"0","name":"Termoarredo","comment":"","lat":"45.405","lon":"11.886","starttime":"75","endtime":"90","starttime2":0,"endtime2":0,"startoff":"+5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":1110,"y":600,"wires":[["7d2493cc.b87aec"],[],[]]},{"id":"b21d9fef.09f1c","type":"change","z":"11042afe.d8ad05","name":"To Flow","rules":[{"t":"move","p":"payload","pt":"msg","to":"scaldabagno","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":520,"wires":[["769c58ae.ea8768"]]},{"id":"7d2493cc.b87aec","type":"change","z":"11042afe.d8ad05","name":"To Flow","rules":[{"t":"move","p":"payload","pt":"msg","to":"termoarredo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":580,"wires":[["769c58ae.ea8768"]]},{"id":"b5820841.e36f58","type":"switch","z":"11042afe.d8ad05","name":"","property":"termoarredo","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2350,"y":920,"wires":[[],["a00a9ce0.180d9"]]},{"id":"62b3ddb2.405664","type":"change","z":"e241653a.01a698","name":"Tomorrow's forecast","rules":[{"t":"move","p":"data.attributes.forecast.0","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["5da52f8e.f2291","666d6fcf.c036b"]]},{"id":"901ec03c.db8d4","type":"debug","z":"11042afe.d8ad05","name":"Light turn on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2830,"y":260,"wires":[]},{"id":"af994470.a4da68","type":"api-current-state","z":"e241653a.01a698","name":"Weather","server":"268ac854.f05d88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.nido","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":220,"wires":[["62b3ddb2.405664"]]},{"id":"a8753d6e.ebac8","type":"server-state-changed","z":"e241653a.01a698","name":"Approaching Sunset","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sunset_approaching","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":40,"wires":[["af994470.a4da68"],[]]},{"id":"5da52f8e.f2291","type":"function","z":"e241653a.01a698","name":"Condition2Color","func":"var color = 'white';\nswitch(msg.payload.condition) {\n  case 'sunny':\n  case 'partlycloudy':\n    color = 'orange';\n    break;\n  case 'rainy':\n  case 'pouring':\n    color = 'blue';\n    break;\n  case 'windy':\n  case 'windy-variant':\n    color = 'green';\n    break;\n  case 'lightning':\n  case 'lightning-rainy':\n  case 'hail':\n  case 'snowy':\n  case 'snowy-rainy':      \n    color = 'purple';\n    break;\n  case 'exceptional':      \n    color = 'red';\n    break;\n  default:\n    color = 'white';\n}\nflow.set(\"lights_color\", color);\n","outputs":1,"noerr":0,"x":920,"y":220,"wires":[[]]},{"id":"666d6fcf.c036b","type":"debug","z":"e241653a.01a698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":140,"wires":[]},{"id":"bf7b92ca.6e69b","type":"inject","z":"e241653a.01a698","name":"","topic":"","payload":"sunny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":140,"wires":[["2605a32b.6fd544"]]},{"id":"2605a32b.6fd544","type":"change","z":"e241653a.01a698","name":"Tomorrow's forecast","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.condition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["5da52f8e.f2291"]]},{"id":"b614e755.a85bd8","type":"switch","z":"11042afe.d8ad05","name":"Lights","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"HOME","vt":"str"},{"t":"eq","v":"NOT_HOME","vt":"str"},{"t":"eq","v":"AWAY","vt":"str"},{"t":"eq","v":"SLEEPING","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1630,"y":260,"wires":[["24cad88d.1955a"],["3e538ef8.75e3b2"],["3e538ef8.75e3b2"],["3e538ef8.75e3b2"]]},{"id":"769c58ae.ea8768","type":"switch","z":"11042afe.d8ad05","name":"Appliances","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"HOME","vt":"str"},{"t":"eq","v":"NOT_HOME","vt":"str"},{"t":"eq","v":"AWAY","vt":"str"},{"t":"eq","v":"SLEEPING","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1790,"y":760,"wires":[["efec2ecd.29a82"],["efec2ecd.29a82"],["78bca5a8.e3163c"],["efec2ecd.29a82"]]},{"id":"3f6e1e15.1404f2","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":320,"wires":[["2c99ef93.747bc"]]},{"id":"af5d280a.a49028","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2540,"y":720,"wires":[["1d87d4d5.54241b"]]},{"id":"efec2ecd.29a82","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2000,"y":780,"wires":[["84e3f1f4.d9e15"]]},{"id":"78bca5a8.e3163c","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":840,"wires":[["f3d0444c.dc4a18"]]},{"id":"40783edc.b3422","type":"api-current-state","z":"11042afe.d8ad05","name":"Scaldabagno On?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.scaldabagno","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2650,"y":840,"wires":[[],["596b7dc5.546384"]]},{"id":"325db8c7.714b58","type":"api-call-service","z":"11042afe.d8ad05","name":"Termoarredo Off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.termoarredo","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2880,"y":1020,"wires":[[]]},{"id":"4a534ae3.b963e4","type":"api-current-state","z":"11042afe.d8ad05","name":"Scaldabagno Off?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.scaldabagno","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2650,"y":940,"wires":[[],["b595e64d.766ec8"]]},{"id":"a00a9ce0.180d9","type":"api-current-state","z":"11042afe.d8ad05","name":"Termoarredo On?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.scaldabagno","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2630,"y":1000,"wires":[["325db8c7.714b58"],[]]},{"id":"b14dd44a.a4b6a8","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1460,"y":360,"wires":[["28af9b27.8c3ca4"]]},{"id":"b9aa33fe.a3b3a","type":"server-state-changed","z":"11042afe.d8ad05","name":"Bedtime","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bedtime","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":1000,"wires":[["2f7401d3.5d066e"],[]]},{"id":"2f7401d3.5d066e","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bedtime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1000,"wires":[["b7e5b311.e81eb","1b344bbf.4746e4"]]},{"id":"8f4950b0.591f3","type":"server-state-changed","z":"11042afe.d8ad05","name":"Wake_Up","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wake_up","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":940,"wires":[["72fb37e7.dfcc68"],[]]},{"id":"72fb37e7.dfcc68","type":"change","z":"11042afe.d8ad05","name":"wake_up","rules":[{"t":"set","p":"topic","pt":"msg","to":"wake_up","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":940,"wires":[["b7e5b311.e81eb","5e72429c.24ba2c"]]},{"id":"5e72429c.24ba2c","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":940,"wires":[["1dbeff8e.c503e"]]},{"id":"1dbeff8e.c503e","type":"api-call-service","z":"11042afe.d8ad05","name":"Off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.wake_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":940,"wires":[[]]},{"id":"1b344bbf.4746e4","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":1000,"wires":[["b3c90918.3b6848"]]},{"id":"b3c90918.3b6848","type":"api-call-service","z":"11042afe.d8ad05","name":"Off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bedtime","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1000,"wires":[[]]},{"id":"a3ad7190.2a57f8","type":"inject","z":"11042afe.d8ad05","name":"","topic":"wake_up","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":920,"wires":[["b7e5b311.e81eb"]]},{"id":"a82a2d56.2d56b","type":"inject","z":"11042afe.d8ad05","name":"","topic":"bedtime","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":880,"wires":[["b7e5b311.e81eb"]]},{"id":"3790d01.3b53f3","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":480,"wires":[["b21d9fef.09f1c"]]},{"id":"24cad88d.1955a","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":240,"wires":[["25ddc239.c7598e"]]},{"id":"3e538ef8.75e3b2","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":280,"wires":[["a61e8e7c.b49b7"]]},{"id":"ecc8329f.0a7d88","type":"delay","z":"11042afe.d8ad05","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":120,"wires":[["2c99ef93.747bc"]]},{"id":"92a4d8e4.4e9ef","type":"change","z":"11042afe.d8ad05","name":"Tomorrow's forecast","rules":[{"t":"move","p":"data.attributes.forecast.0","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[["953a1b6e.346098","6d70d8ea.5392d8"]]},{"id":"593d5f52.8db6a","type":"api-current-state","z":"11042afe.d8ad05","name":"Weather","server":"268ac854.f05d88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.nido","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["92a4d8e4.4e9ef"]]},{"id":"dd4987ab.e80bf","type":"server-state-changed","z":"11042afe.d8ad05","name":"Approaching Sunset","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sunset_approaching","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":120,"wires":[["593d5f52.8db6a","ecc8329f.0a7d88"],[]]},{"id":"953a1b6e.346098","type":"function","z":"11042afe.d8ad05","name":"Condition2Color","func":"var color = 'white';\nswitch(msg.payload.condition) {\n  case 'sunny':\n  case 'partlycloudy':\n    color = 'orange';\n    break;\n  case 'rainy':\n  case 'pouring':\n    color = 'blue';\n    break;\n  case 'windy':\n  case 'windy-variant':\n    color = 'green';\n    break;\n  case 'lightning':\n  case 'lightning-rainy':\n  case 'hail':\n  case 'snowy':\n  case 'snowy-rainy':      \n    color = 'purple';\n    break;\n  case 'exceptional':      \n    color = 'red';\n    break;\n  default:\n    color = 'white';\n}\nflow.set(\"lights_color\", color);\n\n","outputs":1,"noerr":0,"x":820,"y":200,"wires":[[]]},{"id":"6d70d8ea.5392d8","type":"debug","z":"11042afe.d8ad05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"1b3f5c70.4a4bbc","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"sunny","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":60,"wires":[["b9af759d.d5ce3"]]},{"id":"b9af759d.d5ce3","type":"change","z":"11042afe.d8ad05","name":"Tomorrow's forecast","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.condition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":60,"wires":[["953a1b6e.346098"]]},{"id":"596b7dc5.546384","type":"switch","z":"11042afe.d8ad05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":880,"wires":[["3119376f.80b5c8"],["3ddcfb30.f02464"]]},{"id":"3ddcfb30.f02464","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_scaldabagno_on","key":"5e374621.fc24f8","x":3160,"y":920,"wires":[]},{"id":"b595e64d.766ec8","type":"switch","z":"11042afe.d8ad05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2870,"y":960,"wires":[["fee3f1ab.2349e"],["1048c0be.b0cb2f"]]},{"id":"1048c0be.b0cb2f","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_scaldabagno_off","key":"5e374621.fc24f8","x":3180,"y":1020,"wires":[]},{"id":"cf69fe36.4d5b5","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2920,"y":920,"wires":[["3ddcfb30.f02464"]]},{"id":"e29de75a.f43ba8","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2900,"y":1080,"wires":[["1048c0be.b0cb2f"]]},{"id":"6284b804.effce8","type":"ui_switch","z":"11042afe.d8ad05","name":"Climate Mode","label":"switch","tooltip":"","group":"2cf78ef7.f9c8e2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"climate_mode","style":"","onvalue":"summer","onvalueType":"str","onicon":"","oncolor":"","offvalue":"winter","offvalueType":"str","officon":"","offcolor":"","x":140,"y":260,"wires":[["8952a150.d7ffc"]]},{"id":"8952a150.d7ffc","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"climate_mode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["d16deff8.1e8fe"]]},{"id":"c340e7c7.5d3c18","type":"switch","z":"11042afe.d8ad05","name":"","property":"climate_mode","propertyType":"flow","rules":[{"t":"eq","v":"winter","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2070,"y":620,"wires":[["a0ab9451.228518"]]},{"id":"d16deff8.1e8fe","type":"switch","z":"11042afe.d8ad05","name":"","property":"climate_mode","propertyType":"flow","rules":[{"t":"eq","v":"summer","vt":"str"},{"t":"eq","v":"winter","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":260,"wires":[["9f8ecd75.1a10a"],["103164fd.a1d59b"]]},{"id":"9f8ecd75.1a10a","type":"change","z":"11042afe.d8ad05","name":"False","rules":[{"t":"set","p":"enable","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["2df30f2b.6d406","31423fe8.0df6"]]},{"id":"103164fd.a1d59b","type":"change","z":"11042afe.d8ad05","name":"True","rules":[{"t":"set","p":"enable","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[["2df30f2b.6d406","31423fe8.0df6"]]},{"id":"e5e21833.c12118","type":"switch","z":"11042afe.d8ad05","name":"Mask iMac","property":"mask_imac","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":3010,"y":400,"wires":[[],["8560b89c.44e538"]]},{"id":"8560b89c.44e538","type":"api-call-service","z":"11042afe.d8ad05","name":"iMac off","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":" switch.wol_imac_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3220,"y":440,"wires":[[]]},{"id":"fc48f74b.61d2e8","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Mask imac","tooltip":"","group":"547bbb82.2b6654","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3010,"y":520,"wires":[["a4ba458c.d98278"]]},{"id":"a4ba458c.d98278","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"mask_imac","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3230,"y":520,"wires":[[]]},{"id":"befbd8be.9d98d","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":2670,"y":300,"wires":[["6bf49fcc.bcd97"]]},{"id":"add74391.d9f318","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":2450,"y":1220,"wires":[["d00d2078.a59fb"]]}]