node-red/flows.json
[{"id":"ad95cc99.7320a","type":"tab","label":"Presence Detection","disabled":true,"info":""},{"id":"11042afe.d8ad05","type":"tab","label":"Presence Detection FSM","disabled":false,"info":""},{"id":"5193755.cc43a8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"260c69c8.e1543e","type":"subflow","name":"HA Presence Detection","info":"","category":"","in":[],"out":[{"x":1200,"y":260,"wires":[{"id":"683258c.997c4a8","port":0},{"id":"297a5c45.5e86e4","port":2},{"id":"95412cd1.1c7b1","port":2},{"id":"95412cd1.1c7b1","port":3},{"id":"a4d129fa.f87738","port":0},{"id":"2794982e.ab7ad8","port":0},{"id":"95412cd1.1c7b1","port":4},{"id":"d356bd6c.1e544","port":0},{"id":"32d90d6f.fbc0f2","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Home","Not Home","Away","Motion"]},{"id":"7c769997.54ccd","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[{"x":600,"y":80,"wires":[{"id":"dfdd5714.2bdf58","port":0}]},{"x":620,"y":140,"wires":[{"id":"c80af702.1caff8","port":0}]},{"x":600,"y":180,"wires":[{"id":"c0982016.2c80e","port":0}]}]},{"id":"268ac854.f05d88","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"2534eef8.504fd2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"98a7d086.f573b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2cf78ef7.f9c8e2","type":"ui_group","z":"","name":"Climate","tab":"98a7d086.f573b","order":3,"disp":true,"width":"6","collapse":false},{"id":"547bbb82.2b6654","type":"ui_group","z":"","name":"Auto","tab":"98a7d086.f573b","order":2,"disp":true,"width":"6","collapse":false},{"id":"74b3df02.6f5bf","type":"ui_group","z":"","name":"Manual","tab":"98a7d086.f573b","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e374621.fc24f8","type":"ifttt-key","z":""},{"id":"3f073c37.c91704","type":"time-range-switch","z":"ad95cc99.7320a","name":"Dark Hours","lat":" 45.405","lon":"11.886","startTime":"goldenHour","endTime":"sunrise","startOffset":0,"endOffset":0,"x":630,"y":180,"wires":[["30296694.94427a"],[]]},{"id":"30296694.94427a","type":"api-call-service","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":60,"wires":[["32a998f4.de44d8"]]},{"id":"3863ee3a.37e8b2","type":"server-state-changed","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":400,"wires":[["e2646793.13da68","3f073c37.c91704"],["24f0f633.71278a","9f396f77.8081c"]]},{"id":"e2646793.13da68","type":"api-call-service","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.termostato_cucina","data":"{\"entity_id\":\"climate.termostato_cucina\",\"temperature\":\"20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":380,"wires":[[]]},{"id":"f121e8ab.141c38","type":"api-call-service","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.termostato_cucina","data":"{\"entity_id\":\"climate.termostato_cucina\",\"temperature\":\"17\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1440,"y":440,"wires":[[]]},{"id":"24f0f633.71278a","type":"trigger","z":"ad95cc99.7320a","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":false,"units":"min","reset":"false","bytopic":"topic","name":"15 Min","x":570,"y":520,"wires":[["413a29f.aaab7d8"]]},{"id":"32a998f4.de44d8","type":"ha-wait-until","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","outputs":1,"entityId":"binary_sensor.motion_sensor_158d00015b833f","entityIdFilterType":"exact","property":"attributes.No motion since","comparator":"gt","value":"1800","valueType":"num","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1100,"y":60,"wires":[["c0f5a81e.61c948","f121e8ab.141c38"]]},{"id":"c0f5a81e.61c948","type":"api-call-service","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":240,"wires":[[]]},{"id":"413a29f.aaab7d8","type":"api-current-state","z":"ad95cc99.7320a","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":520,"wires":[["f121e8ab.141c38"],[]]},{"id":"9f396f77.8081c","type":"trigger","z":"ad95cc99.7320a","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"false","bytopic":"topic","name":"1 day","x":570,"y":620,"wires":[["e8378bd9.4bda98"]]},{"id":"e8378bd9.4bda98","type":"api-current-state","z":"ad95cc99.7320a","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":620,"wires":[["46156fd.538089"],[]]},{"id":"46156fd.538089","type":"api-call-service","z":"ad95cc99.7320a","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.termostato_cucina","data":"{\"entity_id\":\"climate.termostato_cucina\",\"temperature\":\"15\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":600,"wires":[[]]},{"id":"3ce186fb.66526a","type":"bigtimer","z":"ad95cc99.7320a","outtopic":"","outpayload1":"home","outpayload2":"","name":"Sunset","comment":"","lat":" 45.405","lon":"11.886","starttime":"5004","endtime":"5005","starttime2":0,"endtime2":0,"startoff":"-15","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":320,"y":100,"wires":[["9da13ffb.9758c"],[],[]]},{"id":"9da13ffb.9758c","type":"api-current-state","z":"ad95cc99.7320a","name":"Home?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":80,"wires":[["30296694.94427a"],[]]},{"id":"b7e5b311.e81eb","type":"finite-state-machine","z":"11042afe.d8ad05","name":"Family Home?","fsmDefinition":"{\"state\":{\"status\":\"HOME\"},\"transitions\":{\"HOME\":{\"left\":\"NOT_HOME\",\"bedtime\":\"SLEEPING\"},\"NOT_HOME\":{\"back\":\"HOME\",\"away\":\"AWAY\"},\"AWAY\":{\"back\":\"HOME\"},\"SLEEPING\":{\"wake_up\":\"HOME\"}}}","sendInitialState":true,"showTransitionErrors":true,"x":1200,"y":620,"wires":[["1015db1d.a365cd","b7e32af9.8d1b38","7891fd33.0bf4b4"],[],[]]},{"id":"97b58658.4acfb8","type":"server-state-changed","z":"260c69c8.e1543e","name":"","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":200,"y":80,"wires":[["683258c.997c4a8"],["895a8006.f47c1","848a01dd.0600f"]]},{"id":"895a8006.f47c1","type":"trigger","z":"260c69c8.e1543e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":false,"units":"min","reset":"false","bytopic":"topic","name":"15 Min","x":470,"y":140,"wires":[["e395f1fb.125c"]]},{"id":"e395f1fb.125c","type":"api-current-state","z":"260c69c8.e1543e","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":160,"wires":[["2794982e.ab7ad8"],[]]},{"id":"848a01dd.0600f","type":"trigger","z":"260c69c8.e1543e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"false","bytopic":"topic","name":"1 day","x":470,"y":240,"wires":[["69f01c1e.75cf04"]]},{"id":"69f01c1e.75cf04","type":"api-current-state","z":"260c69c8.e1543e","name":"Still Out?","server":"268ac854.f05d88","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":240,"wires":[["a4d129fa.f87738"],[]]},{"id":"2794982e.ab7ad8","type":"change","z":"260c69c8.e1543e","name":"Family Left","rules":[{"t":"set","p":"topic","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":180,"wires":[[]]},{"id":"a4d129fa.f87738","type":"change","z":"260c69c8.e1543e","name":"Family Away","rules":[{"t":"set","p":"topic","pt":"msg","to":"away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[[]]},{"id":"683258c.997c4a8","type":"change","z":"260c69c8.e1543e","name":"Family Came ","rules":[{"t":"set","p":"topic","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":100,"wires":[[]]},{"id":"f0c8614f.e75","type":"switch","z":"11042afe.d8ad05","name":"","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"HOME","vt":"str"},{"t":"eq","v":"NOT_HOME","vt":"str"},{"t":"eq","v":"AWAY","vt":"str"},{"t":"eq","v":"SLEEPING","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1550,"y":360,"wires":[["407e26ad.df33b8","25ddc239.c7598e","84e3f1f4.d9e15"],["5bdf5085.792ce","a61e8e7c.b49b7","84e3f1f4.d9e15"],["c4cbfe8f.db4df","a61e8e7c.b49b7","f3d0444c.dc4a18"],["5bdf5085.792ce","a61e8e7c.b49b7","84e3f1f4.d9e15"]]},{"id":"a0ba77a5.ae0e18","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2550,"y":600,"wires":[[]]},{"id":"1d87d4d5.54241b","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.termostato_cucina","data":"{\"entity_id\":\"climate.termostato_cucina\",\"temperature\":{{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2560,"y":340,"wires":[[]]},{"id":"297a5c45.5e86e4","type":"trigger-state","z":"260c69c8.e1543e","d":true,"name":"Motion Detected","server":"268ac854.f05d88","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_158d00015b833f","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zbqsd2waifj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"hme9zzlay78","messageType":"custom","messageValue":"{\"payload\":\"on\",\"topic\":\"wake_up\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"}],"outputinitially":false,"state_type":"str","x":780,"y":380,"wires":[[],[],[]]},{"id":"7f377e4a.9e96b","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":210,"y":80,"wires":[["dfdd5714.2bdf58"]]},{"id":"65b6dcfa.131b24","type":"inject","z":"11042afe.d8ad05","name":"","topic":"bedtime","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":800,"wires":[["b7e5b311.e81eb"]]},{"id":"407e26ad.df33b8","type":"change","z":"11042afe.d8ad05","name":"T Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":300,"wires":[["a0ab9451.228518"]]},{"id":"f722ed66.b044e","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Not Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":190,"y":140,"wires":[["c80af702.1caff8"]]},{"id":"c80af702.1caff8","type":"change","z":"7c769997.54ccd","name":"Not Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[[]]},{"id":"e5405738.a52708","type":"ui_numeric","z":"7c769997.54ccd","name":"","label":"Away Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":190,"y":200,"wires":[["c0982016.2c80e"]]},{"id":"c0982016.2c80e","type":"change","z":"7c769997.54ccd","name":"Away T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[[]]},{"id":"5bdf5085.792ce","type":"change","z":"11042afe.d8ad05","name":"T Not Home","rules":[{"t":"set","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":340,"wires":[["a0ab9451.228518"]]},{"id":"c4cbfe8f.db4df","type":"change","z":"11042afe.d8ad05","name":"T Away","rules":[{"t":"set","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":380,"wires":[["a0ab9451.228518"]]},{"id":"f0c5aeec.e3091","type":"inject","z":"11042afe.d8ad05","name":"Wake up","topic":"wake_up","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":740,"wires":[["b7e5b311.e81eb"]]},{"id":"b15721c8.f07f78","type":"subflow:260c69c8.e1543e","z":"11042afe.d8ad05","name":"HA Presence detection","env":[],"x":860,"y":620,"wires":[["b7e5b311.e81eb","1387c8b6.e65487"]]},{"id":"dfdd5714.2bdf58","type":"change","z":"7c769997.54ccd","name":"Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"dd8ca067.2fc0a8","type":"debug","z":"11042afe.d8ad05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1950,"y":200,"wires":[]},{"id":"1015db1d.a365cd","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload.status","pt":"msg","to":"status","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":620,"wires":[["f0c8614f.e75"]]},{"id":"1ee4f6c7.2f3839","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":950,"y":120,"wires":[["6b16df32.89bf7"]]},{"id":"2df30f2b.6d406","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Not Home Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":970,"y":180,"wires":[["ef2ecdb8.832cd"]]},{"id":"ef2ecdb8.832cd","type":"change","z":"11042afe.d8ad05","name":"Not Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"not_home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":180,"wires":[["f0c8614f.e75"]]},{"id":"31423fe8.0df6","type":"ui_numeric","z":"11042afe.d8ad05","name":"","label":"Away Temperature","tooltip":"","group":"2cf78ef7.f9c8e2","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"15","max":"35","step":"0.5","x":950,"y":240,"wires":[["c2aef239.c22fc"]]},{"id":"c2aef239.c22fc","type":"change","z":"11042afe.d8ad05","name":"Away T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"away_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":240,"wires":[["f0c8614f.e75"]]},{"id":"6b16df32.89bf7","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload","pt":"msg","to":"home_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":120,"wires":[["f0c8614f.e75"]]},{"id":"7d918fdf.d1e38","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Climate Auto","tooltip":"","group":"547bbb82.2b6654","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2790,"y":20,"wires":[["98f28d6f.74071"]]},{"id":"a0ab9451.228518","type":"switch","z":"11042afe.d8ad05","name":"Enable CLimate","property":"enable_climate","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2300,"y":340,"wires":[["1d87d4d5.54241b"],[]]},{"id":"98f28d6f.74071","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_climate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":20,"wires":[[]]},{"id":"a4256a9b.d83b78","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":120,"wires":[["1ee4f6c7.2f3839"]]},{"id":"2b45bf01.6decb","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":180,"wires":[["2df30f2b.6d406"]]},{"id":"9e873c6e.092e6","type":"inject","z":"11042afe.d8ad05","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["31423fe8.0df6"]]},{"id":"a61e8e7c.b49b7","type":"switch","z":"11042afe.d8ad05","name":"Enable Lights","property":"enable_lights","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2040,"y":540,"wires":[["a0ba77a5.ae0e18","e2790057.e69888"],[]]},{"id":"6bf49fcc.bcd97","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Lights Auto","tooltip":"","group":"547bbb82.2b6654","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2790,"y":100,"wires":[["f7021cec.2c83"]]},{"id":"f7021cec.2c83","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_lights","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":100,"wires":[[]]},{"id":"95412cd1.1c7b1","type":"trigger-state","z":"260c69c8.e1543e","name":"Bed Button","server":"268ac854.f05d88","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.switch_158d000183e7d1","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"id":"4wptz6fgdc6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":{"0":0,"1":1,"2":2,"3":3,"4":-1},"customoutputs":[{"outputId":"wj7jyrvtg3q","messageType":"custom","messageValue":"{\"topic\" : \"bedtime\" }","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"single"},{"outputId":"phsmp0zdsem","messageType":"custom","messageValue":"{\"topic\": \"wake_up\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"double"},{"outputId":"9bu0mvnwp8s","messageType":"custom","messageValue":"{\"payload\":\"triggered\",\"topic\":\"bedtime\"}","messageValueType":"json","comparatorPropertyType":"property","comparatorPropertyValue":"new_state.attributes.last_action","comparatorType":"is","comparatorValue":"single"}],"outputinitially":false,"state_type":"str","x":650,"y":540,"wires":[]},{"id":"1387c8b6.e65487","type":"debug","z":"11042afe.d8ad05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":720,"wires":[]},{"id":"6487e384.71426c","type":"switch","z":"11042afe.d8ad05","name":"Enable Lights","property":"enable_lights","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2100,"y":460,"wires":[["25ef6ee0.7bd6d2","88de52cb.de1a6"],[]]},{"id":"25ef6ee0.7bd6d2","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"all","data":"{\"color_name\": \"{{flow.lights_color}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2550,"y":440,"wires":[["901ec03c.db8d4"]]},{"id":"2c99ef93.747bc","type":"change","z":"11042afe.d8ad05","name":"Dark","rules":[{"t":"set","p":"dark","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":20,"wires":[["f0c8614f.e75"]]},{"id":"25ddc239.c7598e","type":"switch","z":"11042afe.d8ad05","name":"","property":"dark","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1830,"y":420,"wires":[["6487e384.71426c","dd8ca067.2fc0a8"]]},{"id":"7afb764c.08ec08","type":"server-events","z":"260c69c8.e1543e","name":"Collect All HomeAssistant Data","server":"268ac854.f05d88","event_type":"xiaomi_aqara.click","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":210,"y":480,"wires":[["2db616f2.423fda"]]},{"id":"2db616f2.423fda","type":"switch","z":"260c69c8.e1543e","name":"Bed Button?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"binary_sensor.switch_158d000183e7d1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":480,"wires":[["c9f1053d.aeab48"]]},{"id":"c9f1053d.aeab48","type":"switch","z":"260c69c8.e1543e","name":"","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":480,"wires":[["d356bd6c.1e544"],["32d90d6f.fbc0f2"],[]]},{"id":"d356bd6c.1e544","type":"change","z":"260c69c8.e1543e","name":"Family Left","rules":[{"t":"set","p":"topic","pt":"msg","to":"bedtime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":420,"wires":[[]]},{"id":"32d90d6f.fbc0f2","type":"change","z":"260c69c8.e1543e","name":"Family Left","rules":[{"t":"set","p":"topic","pt":"msg","to":"wake_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":480,"wires":[[]]},{"id":"b7e32af9.8d1b38","type":"ui_text","z":"11042afe.d8ad05","group":"547bbb82.2b6654","order":2,"width":"6","height":"1","name":"","label":"Family's status","format":"{{msg.payload.status}}","layout":"col-center","x":1580,"y":760,"wires":[]},{"id":"4174a14.aa4c96","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"","tooltip":"","group":"547bbb82.2b6654","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-sun-o","offcolor":"yellow","x":310,"y":60,"wires":[[]]},{"id":"b097ae34.d29aa","type":"webhookrelay","z":"11042afe.d8ad05","buckets":"ghactions","x":220,"y":340,"wires":[["d2cc41b6.d14ed"]]},{"id":"d2cc41b6.d14ed","type":"json","z":"11042afe.d8ad05","name":"","property":"payload.body","action":"","pretty":false,"x":210,"y":480,"wires":[["4c28c62c.672568"]]},{"id":"4c28c62c.672568","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload.body","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["a90b2fe3.4399c","45ef9cb5.8d38d4"]]},{"id":"a90b2fe3.4399c","type":"switch","z":"11042afe.d8ad05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"temperatura","vt":"str"},{"t":"hask","v":"buonanotte","vt":"str"},{"t":"hask","v":"Buonanotte","vt":"str"},{"t":"hask","v":"buongiorno","vt":"str"},{"t":"hask","v":"Buongiorno","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":650,"y":480,"wires":[["588d81b9.67f7f","c5fdb4b2.86dcd8"],["2f078d39.f3efd2"],["2f078d39.f3efd2"],["f9b38bfa.33deb8"],["f9b38bfa.33deb8"]]},{"id":"2f078d39.f3efd2","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bedtime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":480,"wires":[["b7e5b311.e81eb"]]},{"id":"f9b38bfa.33deb8","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"wake_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[["b7e5b311.e81eb"]]},{"id":"c5fdb4b2.86dcd8","type":"debug","z":"11042afe.d8ad05","name":"RED","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":440,"wires":[]},{"id":"588d81b9.67f7f","type":"change","z":"11042afe.d8ad05","name":"Home T (Flow)","rules":[{"t":"move","p":"payload.temperatura","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["1ee4f6c7.2f3839"]]},{"id":"45ef9cb5.8d38d4","type":"debug","z":"11042afe.d8ad05","name":"Before","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":360,"wires":[]},{"id":"88de52cb.de1a6","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_yeelight_on","key":"5e374621.fc24f8","x":2540,"y":500,"wires":[]},{"id":"e2790057.e69888","type":"ifttt out","z":"11042afe.d8ad05","eventName":"turn_yeelight_off","key":"5e374621.fc24f8","x":2560,"y":660,"wires":[]},{"id":"d00d2078.a59fb","type":"ui_switch","z":"11042afe.d8ad05","name":"","label":"Appliances Auto","tooltip":"","group":"547bbb82.2b6654","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2800,"y":180,"wires":[["7a58b336.204b1c"]]},{"id":"7a58b336.204b1c","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"enable_appliances","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":180,"wires":[[]]},{"id":"f3d0444c.dc4a18","type":"switch","z":"11042afe.d8ad05","name":"Enable Appliances","property":"enable_appliances","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":640,"wires":[["9f39e621.82b678"],[]]},{"id":"9f39e621.82b678","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.appliances","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":920,"wires":[[]]},{"id":"7891fd33.0bf4b4","type":"ha-entity","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Family Status"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.status","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1590,"y":680,"wires":[[]]},{"id":"5fd42a57.8fcaa4","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":5,"width":0,"height":0,"passthru":false,"label":"Appliances Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2320,"y":960,"wires":[["9f39e621.82b678","d00d2078.a59fb"]]},{"id":"32f23f99.1c9e4","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":2,"width":0,"height":0,"passthru":false,"label":"Lights Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2340,"y":540,"wires":[["a0ba77a5.ae0e18","6bf49fcc.bcd97","e2790057.e69888"]]},{"id":"e7f75082.5b565","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":1,"width":0,"height":0,"passthru":false,"label":"Lights On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2340,"y":400,"wires":[["25ef6ee0.7bd6d2","6bf49fcc.bcd97","88de52cb.de1a6"]]},{"id":"fba2450f.01e208","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_heater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":220,"wires":[[]]},{"id":"6c692f7a.84729","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":3,"width":0,"height":0,"passthru":false,"label":"Heater On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2350,"y":220,"wires":[["fba2450f.01e208","7d918fdf.d1e38"]]},{"id":"3f4b6b2c.d70f24","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_heater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":280,"wires":[[]]},{"id":"92f9375d.8a8e78","type":"ui_button","z":"11042afe.d8ad05","name":"","group":"74b3df02.6f5bf","order":4,"width":0,"height":0,"passthru":false,"label":"Heater Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":2350,"y":280,"wires":[["3f4b6b2c.d70f24","7d918fdf.d1e38"]]},{"id":"d1850984.335778","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"wake_up","outpayload1":"1","outpayload2":"0","name":"Big Timer","comment":"","lat":"45.405","lon":"11.886","starttime":"825","endtime":"780","starttime2":0,"endtime2":0,"startoff":"-30","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":580,"y":800,"wires":[[],[],[]]},{"id":"898dd44e.88e6c8","type":"ui_text_input","z":"11042afe.d8ad05","name":"","label":"Weekdays Alarm","tooltip":"","group":"74b3df02.6f5bf","order":5,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":150,"y":640,"wires":[["16c5ce28.f17fa2"]]},{"id":"16c5ce28.f17fa2","type":"change","z":"11042afe.d8ad05","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.on_override","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":640,"wires":[["d1850984.335778"]]},{"id":"c525efb.43c001","type":"server-state-changed","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":40,"wires":[["2c99ef93.747bc"],["28af9b27.8c3ca4"]]},{"id":"28af9b27.8c3ca4","type":"change","z":"11042afe.d8ad05","name":"Light","rules":[{"t":"set","p":"dark","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":60,"wires":[["f0c8614f.e75"]]},{"id":"3bf7026d.ffe38e","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"timer_scaldabagno","outpayload1":"1","outpayload2":"0","name":"Water Timer","comment":"","lat":"45.405","lon":"11.886","starttime":"345","endtime":"450","starttime2":0,"endtime2":0,"startoff":"+5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":1090,"y":300,"wires":[["b21d9fef.09f1c"],[],[]]},{"id":"84e3f1f4.d9e15","type":"switch","z":"11042afe.d8ad05","name":"Enable Appliances","property":"enable_appliances","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":600,"wires":[["ea1df044.4433a","b5820841.e36f58"],[]]},{"id":"ea1df044.4433a","type":"switch","z":"11042afe.d8ad05","name":"","property":"scaldabagno","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2190,"y":640,"wires":[["3119376f.80b5c8"],["fee3f1ab.2349e"]]},{"id":"fee3f1ab.2349e","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.scaldabagno","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":780,"wires":[[]]},{"id":"3119376f.80b5c8","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.scaldabagno","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":720,"wires":[[]]},{"id":"8bce692a.55faf8","type":"bigtimer","z":"11042afe.d8ad05","outtopic":"timer_termoarredo","outpayload1":"1","outpayload2":"0","name":"Termoarredo","comment":"","lat":"45.405","lon":"11.886","starttime":"75","endtime":"90","starttime2":0,"endtime2":0,"startoff":"+5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":1090,"y":380,"wires":[["7d2493cc.b87aec"],[],[]]},{"id":"b21d9fef.09f1c","type":"change","z":"11042afe.d8ad05","name":"To Flow","rules":[{"t":"move","p":"payload","pt":"msg","to":"scaldabagno","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":320,"wires":[["f0c8614f.e75"]]},{"id":"7d2493cc.b87aec","type":"change","z":"11042afe.d8ad05","name":"To Flow","rules":[{"t":"move","p":"payload","pt":"msg","to":"termoarredo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":380,"wires":[["f0c8614f.e75"]]},{"id":"b5820841.e36f58","type":"switch","z":"11042afe.d8ad05","name":"","property":"termoarredo","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2190,"y":680,"wires":[[],["325db8c7.714b58"]]},{"id":"325db8c7.714b58","type":"api-call-service","z":"11042afe.d8ad05","name":"","server":"268ac854.f05d88","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.termoarredo","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2570,"y":860,"wires":[[]]},{"id":"62b3ddb2.405664","type":"change","z":"11042afe.d8ad05","name":"Tomorrow's forecast","rules":[{"t":"move","p":"data.attributes.forecast.0","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":940,"wires":[["5da52f8e.f2291"]]},{"id":"901ec03c.db8d4","type":"debug","z":"11042afe.d8ad05","name":"Light turn on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2770,"y":440,"wires":[]},{"id":"af994470.a4da68","type":"api-current-state","z":"11042afe.d8ad05","name":"Weather","server":"268ac854.f05d88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"weather.nido","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":940,"wires":[["62b3ddb2.405664"]]},{"id":"a8753d6e.ebac8","type":"server-state-changed","z":"11042afe.d8ad05","name":"Approaching Sunset","server":"268ac854.f05d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sunset_approaching","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":610,"y":940,"wires":[["af994470.a4da68"],[]]},{"id":"5da52f8e.f2291","type":"function","z":"11042afe.d8ad05","name":"Condition2Color","func":"var color = 'white';\nswitch(msg.payload.condition) {\n  case 'sunny':\n    color = 'yellow';\n    break;\n  case 'rainy':\n  case 'pouring':\n    color = 'blue';\n    break;\n  case 'windy':\n  case 'windy-variant':\n    color = 'green';\n    break;\n  case 'lightning':\n  case 'lightning-rainy':\n  case 'hail':\n  case 'snowy':\n  case 'snowy-rainy':      \n    color = 'purple';\n    break\n  case 'exceptional':      \n    color = 'red';\n    break;\n  default:\n    color = 'white';\n}\nflow.set(\"lights_color\", color);\n","outputs":1,"noerr":0,"x":1340,"y":940,"wires":[[]]}]